page-settings {
    #img-profile {
        background-color: #3b4d54;
        text-align: center;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    
    #img-profile img {
        border-radius: 50%;
        border: 6px solid rgba(0, 0, 0, 0.2);
        width: 15rem;
        height: 15rem;
    }
    
    .input-content {
        position: relative;
    }
    
    .input-content button {
        position: absolute;
        top: 0;
        right: 0;
    }

    ion-item.without-padding {
        padding: 0;
    }
}