<ion-header>
    <ion-navbar>
        <ion-title>{{'MOBILE.REWARDS.TITLE' | translate}}</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <div *ngIf="!_showEstablishments" style="padding: 0 16px;">
        <div class="img">
            <img src="assets/img/payments-history.png">
        </div>
        <div class="content">
            <h1>{{'MOBILE.REWARDS.NO_REWARDS_MSG' | translate}}</h1>
        </div>
    </div>
    <!--h6 *ngIf="_showEstablishments" style="margin: 20px;text-align: center">
        {{'MOBILE.REWARDS.MSG' | translate}}
    </h6-->

    <div *ngIf="_showEstablishments" [hidden]="_hiddenDiv" padding class="page-title">
        <span>{{'MOBILE.REWARDS.MSG' | translate}}</span>
        <button id="close" class="close-btn" (click)="hiddenDiv()">
            <ion-icon name="close"></ion-icon>
        </button>
    </div>

    <!--div *ngIf="_showEstablishments" padding>
        <div *ngFor="let establishment_medal of _establishmentMedals | async">
            <button *ngFor="let _establishment of _establishments | async;" ion-button block clear color="cwhite" class="button-profile border"
                (click)="openRewardList(_establishment._id)">
                <div class="profile-header">
                    <ion-item no-lines>
                        <img item-start *ngIf="_establishment.image" src="{{ _establishment.image.url }}">
                        <img item-start *ngIf="!_establishment.image" src="assets/img/default-restaurant.png">
                        <h2>{{_establishment.name}}</h2-->
                        <!--p>
                            <ion-icon color="danger" name="pin" item-start></ion-icon>
                            {{establishment.address}}, {{establishment.city}}
                        </p-->
                        <!--p>{{establishment_medal.medals}} {{'MOBILE.REWARDS.ACCUMULATED_MEDALS' | translate}}</p>
                        <button ion-button item-end color="corange" class="button-orange button-cust">
                            Redimir
                        </button>

                    </ion-item>
                </div>
            </button>
        </div>
    </div-->

    <div *ngIf="_showEstablishments" padding text-wrap>
        <div *ngFor="let establishment_medal of _establishmentMedals | async">
            <button ion-button color="corange" class="button-action button-orange button-cust" *ngFor="let _establishment of _establishments | async;"
                (click)="openRewardList(_establishment._id)">
                <div class="profile-header color-text-white">
                    <ion-item no-lines>
                        <img item-start *ngIf="_establishment.image" src="{{ _establishment.image.url }}">
                        <img item-start *ngIf="!_establishment.image" src="assets/img/default-restaurant.png">
                        <h2>{{_establishment.name}}</h2>
                        <p>{{establishment_medal.medals}} {{'MOBILE.REWARDS.ACCUMULATED_MEDALS' | translate}}</p>
                    </ion-item>
                </div>
            </button>
        </div>
    </div>
</ion-content>