<ion-header>
    <ion-navbar>
        <ion-title>{{'MOBILE.USER_REWARDS.TITLE' | translate}}</ion-title>
    </ion-navbar>
</ion-header>
<ion-content text-wrap>
    <div *ngIf="!_showUserRewards" padding class="content-custom">
        <div style="text-align: center;">
            <img style="max-width: 75%;" src="assets/img/reward.png">
        </div>
        <div class="content" style="text-align: center">
            <h1>{{'MOBILE.USER_REWARDS.NO_REWARDS' | translate}}</h1>
        </div>
    </div>
    <div *ngIf="_showUserRewards">
        <h6 style="margin: 20px;text-align: center">
            {{'MOBILE.USER_REWARDS.MSG' | translate}}
        </h6>
        <div *ngFor="let rewardHistory of _rewardHistories | async">
            <ion-card>
                <ion-card-content>
                    <ion-item style="padding-left: 0;">
                        <ion-thumbnail item-start style="margin: 0;">
                            <medal-cyg [width]="80" [height]="80"></medal-cyg>
                        </ion-thumbnail>
                        <h2 style="font-weight: bold;">{{rewardHistory.item_quantity}} {{rewardHistory.item_name}}</h2>
                        <h3 style="font-weight: bold;color: #4CAF50">{{rewardHistory.redeemed_medals}} {{'MOBILE.USER_REWARDS.MEDALS_REDEEMED' | translate}}</h3>
                        <p>{{rewardHistory.creation_date | date: 'MM/dd/yyyy HH:mm a'}}</p>
                    </ion-item>
                </ion-card-content>
            </ion-card>
        </div>
    </div>
</ion-content>