<ion-header>
    <ion-navbar>
        <ion-title>{{'MOBILE.RESTAURANT_PROFILE.TITLE' | translate}}</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <div class="initial">
        <button ion-button block color="dark" class="button-profile" *ngFor="let establishment of _establishments | async;">
            <div class="profile-header color-text-white">
                <ion-item no-lines>
                    <img item-start *ngIf="establishment.image" src="{{ establishment.image.url }}">
                    <img item-start *ngIf="!establishment.image" src="assets/img/default-restaurant.png">
                    <h2>{{establishment.name}}</h2>
                </ion-item>
            </div>
        </button>

        <div *ngIf="_showMap" id="map_canvas"></div>

        <ion-card *ngFor="let _establishment of _establishments | async;" class="card-custom">
            <ion-card-content>
                <div class="buttons-inline">
                    <button ion-button class="button-orange button-cust" color="corange" (click)="openRewardsInfo(_establishment._id)">{{'MOBILE.RESTAURANT_PROFILE.REWARDS_BTN' | translate}}</button>
                    <button ion-button class="button-blue button-cust" (click)="goToMenuByEstablishment(_establishment._id)">{{'MOBILE.RESTAURANT_PROFILE.MENU_BTN' | translate}}</button>
                </div>
                <p *ngIf="_establishmentProfile?.establishment_description?.length <= 20" class="margin">
                    {{_establishmentProfile?.establishment_description}}
                </p>
                <div *ngIf="_establishmentProfile?.establishment_description?.length > 20">
                    <p *ngIf="!_showDescription" class="margin">
                        {{_establishmentProfile?.establishment_description.substring(0, 70)}}...
                    </p>
                    <p *ngIf="_showDescription" class="margin">
                        {{_establishmentProfile?.establishment_description}}
                    </p>
                    <a *ngIf="!_showDescription" (click)="showInformation()">
                        {{'MOBILE.RESTAURANT_PROFILE.SHOW_MORE' | translate}}
                    </a>
                    <a *ngIf="_showDescription" (click)="showInformation()">
                        {{'MOBILE.RESTAURANT_PROFILE.SHOW_LESS' | translate}}
                    </a>
                </div>
                <div style="text-align: center;" *ngIf="_establishmentProfile?.web_page || _establishmentProfile?.social_networks?.facebook || _establishmentProfile?.social_networks?.twitter  || _establishmentProfile?.social_networks?.instagram">
                    <a *ngIf="_establishmentProfile?.web_page" href="{{_establishmentProfile?.web_page}}" style="text-decoration: none;">
                        <ion-icon name="globe" class="web"></ion-icon>
                    </a>
                    <a *ngIf="_establishmentProfile?.social_networks?.facebook" href="{{_establishmentProfile?.social_networks?.facebook}}" style="text-decoration: none;">
                        <ion-icon name="logo-facebook" class="fb"></ion-icon>
                    </a>
                    <a *ngIf="_establishmentProfile?.social_networks?.twitter" href="{{_establishmentProfile?.social_networks?.twitter}}" style="text-decoration: none;">
                        <ion-icon name="logo-twitter" class="tw"></ion-icon>
                    </a>
                    <a *ngIf="_establishmentProfile?.social_networks?.instagram" href="{{_establishmentProfile?.social_networks?.instagram}}"
                        style="text-decoration: none;">
                        <ion-icon name="logo-instagram" class="im"></ion-icon>
                    </a>
                </div>
                <ion-list inset class="margin" no-lines>
                    <ion-item *ngIf="_establishment?.city !== '' || _establishmentCountry !== ''">
                        <ion-icon name="map"></ion-icon>
                        <span *ngIf="_establishment?.city !== ''">{{_establishment.city}},</span>
                        <span *ngIf="_establishmentCountry !== ''">{{_establishmentCountry}}</span>
                    </ion-item>

                    <ion-item *ngIf="_establishment?.address">
                        <ion-icon name="pin"></ion-icon>
                        {{_establishment.address}}
                    </ion-item>
                    <ion-item *ngIf="_establishment?.phone">
                        <ion-icon name="call"></ion-icon>
                        {{_establishment.indicative}} {{_establishment.phone}}
                    </ion-item>
                    <ion-item *ngIf="_establishmentProfile?.email">
                        <ion-icon name="chatbubbles"></ion-icon>
                        {{_establishmentProfile?.email}}
                    </ion-item>
                    <ion-item *ngIf="_establishmentProfile?.types_of_food.length > 0">
                        <ion-icon style="vertical-align: top;" name="restaurant"></ion-icon>
                        <div style="white-space: normal;display: inline-block;width: 85%;">
                            <span *ngFor="let typeOfFood of _typesOfFood | async">
                                <span *ngFor="let type of _establishmentProfile.types_of_food">
                                    <span *ngIf="type === typeOfFood._id">{{typeOfFood.type_of_food | translate}}</span>
                                </span>
                            </span>
                        </div>
                    </ion-item>

                    <button ion-item (click)="openSchedule()" *ngIf="_establishmentProfile?.schedule.monday.isActive || _establishmentProfile?.schedule.tuesday.isActive || 
                    _establishmentProfile?.schedule.wednesday.isActive || _establishmentProfile?.schedule.thursday.isActive ||
                    _establishmentProfile?.schedule.friday.isActive || _establishmentProfile?.schedule.saturday.isActive || 
                    _establishmentProfile?.schedule.sunday.isActive || _establishmentProfile?.schedule.holiday.isActive">
                        <ion-icon name="time"></ion-icon>
                        {{'MOBILE.SCHEDULE.SCHEDULE' | translate}}
                    </button>
                </ion-list>
            </ion-card-content>
        </ion-card>

        <span *ngFor="let establishmentProfile of _establishmentsProfiles | async">
            <ion-slides *ngIf="establishmentProfile.images?.length > 0" zoom>
                <ion-slide *ngFor="let restProfileImgeThumb of establishmentProfile.images">
                    <img src="{{restProfileImgeThumb.url}}" />
                </ion-slide>
            </ion-slides>
        </span>

        <ion-card *ngFor="let _establishment of _establishments | async;" class="card-custom">
            <ion-card-content>

                <div class="pm">
                    <h2>{{'MOBILE.RESTAURANT_PROFILE.PAYMENT_METHODS' | translate}}</h2>
                    <ion-list no-lines>
                        <ion-item *ngFor="let pm of _paymentMethods | async">
                            <ion-avatar item-start class="custom">
                                <img *ngIf="pm.name === 'PAYMENT_METHODS.CASH'" src="assets/img/cash-payment.png">
                                <img *ngIf="pm.name === 'PAYMENT_METHODS.CREDIT_CARD'" src="assets/img/credit-card-payment.png">
                                <img *ngIf="pm.name === 'PAYMENT_METHODS.DEBIT_CARD'" src="assets/img/debit-card-payment.png">
                                <img *ngIf="pm.name === 'PAYMENT_METHODS.ONLINE'" src="assets/img/payment-online.png">
                            </ion-avatar>
                            <h2>{{pm.name | translate}}</h2>
                        </ion-item>
                    </ion-list>
                </div>
            </ion-card-content>
        </ion-card>
    </div>
</ion-content>