// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

$red-color-100: #EF5350;
$red-color-200: #E57373;
$red-color-900: #B71C1C;
$primary-color-hover: #FFEBEE;
$hover-side-nav: #616161;
$button-secundary: #f5f5f5;
$button-secundary-hover: #E0E0E0;
$button-color-secundary: #3c4146;
$white_color-text: White;
$amber_five_hundred: #FFC107;

$text-input-highlight-color-valid: #E0E0E0;

.ion-page {
    font-family: 'Comfortaa', cursive;    
}

.button-primary {
    background-color: $red-color-100 !important;
    color: $white_color-text !important;
    font-weight: 500 !important;
    text-transform: uppercase;
    -webkit-box-shadow: 0px 5px 0px 0px $red-color-900;
    box-shadow: 0px 5px 0px 0px $red-color-900;
}

.bar-button-default-md, .bar-button-clear-md-default, .bar-button-md-default {
    color: #fff;
}

.bar-button-default-ios, .bar-button-default.bar-button-ios-default, .bar-button-clear-ios-default {
    color: #fff;
}

.error-message{
  color: $red-color-100;
  font-size: 0.9em;
}

.content {
    background: whitesmoke;
}

.input-has-focus .label-md[stacked], .input-has-focus .label-md[floating] {
    color: #999;
}

.checkbox-ios-primary .checkbox-checked{
    background-color: transparent;
}

.checkbox-ios-primary .checkbox-checked .checkbox-inner {
    border-color: $red-color-100;
}

.toggle-ios .toggle-checked {
    background: $red-color-200;
}

.item-divider-custom {
    border-bottom: 1px solid #c8c7cc; 
    width: 100%; 
    margin: auto;
}

.ios .card-custom {
    margin: 0 0 12px 0;
    width: 100%;
}

.md .card-custom {
    margin: 0 0 10px 0;
    width: 100%;
}

ion-title.logo {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 90px 1px;
    width: 100%;
    height: 100%;
    text-align: center;
}

.button-profile {
    border-radius: 0;
    height: 100px;
    padding: 0;
    margin: 0;
}

.profile-header {
    width: 100%;
}

.profile-header ion-item{
    background-color: transparent;
}

.profile-header.color-text-white h2, .color-text-white.profile-header p {
    color: white;
}

.profile-header img {
    border-radius: 50%;
    border:3px solid rgba(0, 0, 0, 0.2);
    height: 60px;
    width: 60px;
}

[padding] h2:first-child {
    margin-top: 0;
}

.border {
    -webkit-box-shadow: 0px 2px 0px 0px #bdbdbd;
    box-shadow: 0px 2px 0px 0px #bdbdbd;
}

.page-title {
    display: block;
    background: #1676be;
    color: #fff;        
}

.close-btn {
    background: transparent;
    position: absolute;
    font-size: 16px;
    top: 7px;
    right: 0;
    color: white;
}

.button-action {
    height: 100px;
}

.button-cust {
    width: 100%;
    display: block;
    margin: 5px auto 13px;
    position: relative;
    border-radius: 8px;
    -webkit-box-shadow: 0 4px 0 #bebebe, 0 4px 1px rgba(0,0,0,0.8);
    box-shadow: 0 4px 0 #bebebe, 0 4px 1px rgba(0,0,0,0.8);
    line-height: 54px;
}

.button-orange {
    -webkit-box-shadow: 0 5px 0 #EF6C00, 0 5px 1px rgba(0, 0, 0, 0.8);
    box-shadow: 0 5px 0 #EF6C00, 0 5px 1px rgba(0, 0, 0, 0.8);
}

.button-orange:hover {
    background: #EF6C00
}

.button-green {
    -webkit-box-shadow: 0 5px 0 #1B5E20, 0 5px 1px rgba(0, 0, 0, 0.8);
    box-shadow: 0 5px 0 #1B5E20, 0 5px 1px rgba(0, 0, 0, 0.8);
}

.button-green:hover {
    background: #1B5E20;
}

.button-red {
    -webkit-box-shadow: 0 5px 0 #B71C1C, 0 5px 1px rgba(0, 0, 0, 0.8);
    box-shadow: 0 5px 0 #B71C1C, 0 5px 1px rgba(0, 0, 0, 0.8);
}

.button-red:hover {
    background: #B71C1C;
}

.button-blue {
    -webkit-box-shadow: 0 5px 0 #0D47A1, 0 5px 1px rgba(0, 0, 0, 0.8);
    box-shadow: 0 5px 0 #0D47A1, 0 5px 1px rgba(0, 0, 0, 0.8);
}

.button-blue:hover {
    background: #0D47A1;
}

/**
 * inputs style
 */
ion-input {
    background-color: whitesmoke;
    border-radius: 4px;
    color: #3c4146;
    margin-bottom: 16px;
}

.text-input-ios {
    margin: 11px 8px 11px 8px;
}

.item-ios, .item-md {
    padding-left: 0;
}