<ion-header>
  <ion-navbar>
    <ion-title>{{getItemName(_item_code)}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div *ngFor="let item of _items | async">
    <div class="crop">
      <img *ngIf="item.image" src="{{item.image.url}}" style="display:inline-block" (click)="openItemImage(item.image.url)">
      <img *ngIf="!item.image" src="assets/img/default-plate.png" style="display:inline-block">
    </div>
    <ion-card class="ion-card-custom" style="margin: 0px !important">
      <ion-card-content>
        <ion-card-title>{{item.name}}</ion-card-title>
        <p *ngIf='item.description != ""' class="item-paragraph-custom" style="margin-bottom: 10px">{{item.description}}</p>
        <ion-list>
          <h2 style="font-weight: bold;">{{'MOBILE.SECTIONS.UNIT_PRICE' | translate}} {{ getItemPrice( item ) }} {{_currencyCode}}</h2>
        </ion-list>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>