<mat-card *ngIf="_thereAreEstablishments">
    <mat-card-title>{{'BAGS_PAYMENT.TITLE' | translate }}</mat-card-title>
    <mat-card-subtitle>{{'BAGS_PAYMENT.SUBTITLE' | translate}}</mat-card-subtitle>

    <mat-card-content>
        <form [formGroup]="_purchasePlanForm">
            <div *ngFor="let currency of _currencies | async">
                <mat-toolbar color="primary">
                    <span>{{getCountryByCurrency(currency._id) | translate}}</span>
                    <span class="app-flex-filler"></span>
                </mat-toolbar>
                <table formGroupName="establishment_bag" class="striped" width="100%" style="border:0.5px solid; border-color: lightgrey">
                    <thead>
                        <tr>
                            <th data-field="select" style="width: 5%"></th>
                            <th data-field="name" style="width: 45%">{{'MONTHLY_PAYMENT.RESTAURANT_NAME' | translate}}</th>
                            <th data-field="medal_package" style="width: 30%">Paquete de medallas</th>
                            <th data-field="price" style="width: 20%">Precio</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let establishment of _establishments | async; let i = index" style="background-color: whitesmoke !important">
                            <td style="text-align:center">
                                <mat-checkbox [formControlName]="'chk_'+establishment._id" (change)="addToRowArray(establishment, $event.checked, i)"></mat-checkbox>
                            </td>
                            <td *ngIf="establishment.currencyId === currency._id">{{establishment.name}}</td>
                            <td>
                                <mat-form-field style="display: inline !important">
                                    <mat-select [formControlName]="'sel_'+establishment._id">
                                        <mat-option *ngFor="let bagplan of _bagPlans | async" (click)="addPlan(bagplan, establishment);" value="{{bagplan._id}}">{{bagplan.value_points}} Medallas
                                        </mat-option>
                                    </mat-select>
                                    <mat-placeholder>
                                        <mat-icon>redeem</mat-icon> Paquete seleccionado
                                    </mat-placeholder>
                                </mat-form-field>
                            </td>
                            <td>
                                <mat-form-field style="text-align: right">
                                    <mat-placeholder>
                                        <mat-icon>attach_money</mat-icon>
                                        Valor
                                    </mat-placeholder>
                                    <input style="text-align: right" [formControlName]="'lbl_'+establishment._id" matInput>
                                </mat-form-field>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div style="text-align: right">
                    <h2>
                        <span style="margin-right: 10px">
                            <button [disabled]="_total<=0" color="accent" mat-raised-button>{{'MONTHLY_PAYMENT.PAY' | translate}}</button>
                        </span>{{'MONTHLY_PAYMENT.TOTAL_PRICE' | translate}}{{_total}} {{currency.code}}
                    </h2>
                </div>
            </div>
        </form>
    </mat-card-content>
</mat-card>

<mat-card *ngIf="!_thereAreEstablishments" mat-cell="12" class="demo-card demo-basic">
    <mat-card-content>
        <div class="card_initial">
            <div class="card_initial has-image">
                <div class="card_initial-image-container">
                    <img class="card_initial-image" src="/images/payments.png" />
                </div>
                <div class="card_initial-copy">
                    <div class="card_initial-tagline">
                        {{'BAGS_PAYMENT.THERE_NOT_RESTAURANTS' | translate}}
                    </div>
                    <div class="card_initial-additional-links">
                        {{'BAGS_PAYMENT.MESSAGE' | translate}}
                    </div>
                </div>
                <div class="card_initial-button">
                    <button mat-raised-button (click)="goToAddEstablishment()">{{'BAGS_PAYMENT.RESTAURANT_REGISTER' | translate}}</button>
                </div>
            </div>
        </div>
    </mat-card-content>
</mat-card>