<mat-card *ngIf="_thereAreEstablishments">
    <mat-card-title>{{'BAGS_PAYMENT.TITLE' | translate }}</mat-card-title>
    <mat-card-subtitle>{{'BAGS_PAYMENT.SUBTITLE' | translate}}</mat-card-subtitle>

    <mat-card-content>
        <form [formGroup]="_purchasePlanForm">
            <div *ngFor="let currency of _currencies | async">
                <mat-toolbar color="primary">
                    <span>{{getCountryByCurrency(currency._id) | translate}}</span>
                    <span class="app-flex-filler"></span>
                </mat-toolbar>
                <table formGroupName="establishment_bag" width="100%" style="border:0.5px solid; border-color: lightgrey">
                    <thead>
                        <tr>
                            <th data-field="select" style="width: 5%"></th>
                            <th data-field="name" style="width: 45%">{{'BAGS_PAYMENT.RESTAURANT_NAME' | translate}}</th>
                            <th data-field="medal_package" style="width: 30%">{{'BAGS_PAYMENT.PACKAGE_OF_MEDALS' | translate}}</th>
                            <th data-field="price" style="width: 20%">{{'BAGS_PAYMENT.PRICE' | translate}}</th>
                        </tr>
                    </thead>
                    <tbody *ngFor="let establishment of _establishments | async; let i = index" style="background-color: #F8F8F8">
                        <tr>
                            <td rowspan="2" style="text-align:center; border-top: 1px solid lightgrey !important; border-radius: 0px">
                                <mat-checkbox [formControlName]="'chk_'+establishment._id" (change)="addToRowArray(establishment, $event.checked, i)"></mat-checkbox>
                            </td>

                            <td *ngIf="establishment.currencyId === currency._id" style="border-top: 1px solid lightgrey !important; border-radius: 0px">{{establishment.name}}</td>

                            <td style="border-top: 1px solid lightgrey !important; border-radius: 0px">
                                <mat-form-field style="display: inline !important">
                                    <mat-select [formControlName]="'sel_'+establishment._id">
                                        <mat-option *ngFor="let bagplan of _bagPlans | async" (click)="addPlan(bagplan, establishment);" value="{{bagplan._id}}">{{bagplan.value_points}} {{'BAGS_PAYMENT.MEDALS' | translate}}
                                        </mat-option>
                                    </mat-select>
                                    <mat-placeholder>
                                        <mat-icon>redeem</mat-icon> {{'BAGS_PAYMENT.SELECTED_PACKAGE' | translate}}
                                    </mat-placeholder>
                                </mat-form-field>
                            </td>
                            <td style="border-top: 1px solid lightgrey !important; border-radius: 0px">
                                <mat-form-field style="text-align: right">
                                    <mat-placeholder>
                                        <mat-icon>attach_money</mat-icon>
                                        {{'BAGS_PAYMENT.VALUE' | translate}}
                                    </mat-placeholder>
                                    <input style="text-align: right" [formControlName]="'lbl_'+establishment._id" matInput>
                                </mat-form-field>
                            </td>
                        </tr>
                        <tr *ngIf="hasPendingMedals(establishment._id)" style="color: #E53935">
                            <td>
                                <li style="padding-left: 20px">{{'BAGS_PAYMENT.PENDING_MEDALS' | translate}}</li>
                            </td>
                            <td>
                                {{getPendingMedals(establishment._id)}} {{'BAGS_PAYMENT.MEDALS' | translate}}
                            </td>
                            <td style="text-align: right">
                                {{getPriceByPending(establishment)}} {{currency.code}}
                            </td>
                        </tr>

                    </tbody>
                </table>
                <div>
                    <p style="margin-top: 10px">{{'BAGS_PAYMENT.ADVICE_MEDALS' | translate}}</p>
                    <span class="app-flex-filler"></span>
                    <div style="text-align: right">
                        <h2>
                            <span style="margin-right: 10px">
                                <button [disabled]="_total<=0" (click)="goToPaymentForm()" color="accent" mat-raised-button>{{'BAGS_PAYMENT.PAY' | translate}}</button>
                            </span>{{'BAGS_PAYMENT.TOTAL_PRICE' | translate}}{{_total}} {{currency.code}}
                        </h2>
                    </div>
                </div>
            </div>
        </form>
    </mat-card-content>
</mat-card>

<mat-card *ngIf="!_thereAreEstablishments" mat-cell="12" class="demo-card demo-basic">
    <mat-card-content>
        <div class="card_initial">
            <div class="card_initial has-image">
                <div class="card_initial-image-container">
                    <img class="card_initial-image" src="/images/payments.png" />
                </div>
                <div class="card_initial-copy">
                    <div class="card_initial-tagline">
                        {{'BAGS_PAYMENT.THERE_NOT_RESTAURANTS' | translate}}
                    </div>
                    <div class="card_initial-additional-links">
                        {{'BAGS_PAYMENT.MESSAGE' | translate}}
                    </div>
                </div>
                <div class="card_initial-button">
                    <button mat-raised-button (click)="goToAddEstablishment()">{{'BAGS_PAYMENT.RESTAURANT_REGISTER' | translate}}</button>
                </div>
            </div>
        </div>
    </mat-card-content>
</mat-card>