<mat-card *ngIf="_thereAreEstablishments">
    <mat-card-title>{{'BAGS_PAYMENT.TITLE' | translate }}</mat-card-title>
    <mat-card-subtitle>{{'BAGS_PAYMENT.SUBTITLE' | translate}}</mat-card-subtitle>

    <mat-card-content>
        <div *ngFor="let currency of _currencies | async">
            <mat-toolbar color="primary">
                <span>{{getCountryByCurrency(currency._id) | translate}}</span>
                <span class="app-flex-filler"></span>
            </mat-toolbar>
            <table class="striped" width="100%" style="border:0.5px solid; border-color: lightgrey">
                <thead>
                    <tr>
                        <th data-field="name" style="width: 40%">{{'MONTHLY_PAYMENT.RESTAURANT_NAME' | translate}}</th>
                        <th data-field="establishment_price" style="width: 60%">Bolsa</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let establishment of _establishments | async" style="background-color: whitesmoke !important">
                        <td *ngIf="establishment.currencyId === currency._id">{{establishment.name}}</td>
                        <td>
                            <mat-form-field style="display: inline !important">
                                <mat-select placeholder="Selecciona una bolsa" s>
                                    <mat-option *ngFor="let bagplan of _bagPlans | async" (click)="addPlan(bagplan, establishment._id);" [value]="bagplan">{{bagplan.label | translate}} - {{bagplan.value_points}}Pts -
                                        <span style="color: blue">Precio: {{bagplan.price.price}} {{bagplan.price.currency}} </span>
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div style="text-align: right">
                <h2>
                    <span style="margin-right: 10px">
                        <button color="accent" mat-raised-button>{{'MONTHLY_PAYMENT.PAY' | translate}}</button>
                    </span>{{'MONTHLY_PAYMENT.TOTAL_PRICE' | translate}}{{_total}} {{currency.code}}
                </h2>
            </div>
        </div>
    </mat-card-content>
</mat-card>

<mat-card *ngIf="!_thereAreEstablishments" mat-cell="12" class="demo-card demo-basic">
    <mat-card-content>
        <div class="card_initial">
            <div class="card_initial has-image">
                <div class="card_initial-image-container">
                    <img class="card_initial-image" src="/images/payments.png" />
                </div>
                <div class="card_initial-copy">
                    <div class="card_initial-tagline">
                        {{'BAGS_PAYMENT.THERE_NOT_RESTAURANTS' | translate}}
                    </div>
                    <div class="card_initial-additional-links">
                        {{'BAGS_PAYMENT.MESSAGE' | translate}}
                    </div>
                </div>
                <div class="card_initial-button">
                    <button mat-raised-button (click)="goToAddEstablishment()">{{'BAGS_PAYMENT.RESTAURANT_REGISTER' | translate}}</button>
                </div>
            </div>
        </div>
    </mat-card-content>
</mat-card>