<ion-header>
    <ion-navbar>
        <ion-title>{{'MOBILE.ESTABLISHMENT_LIST.TITLE' | translate}}</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <div [hidden]="_hiddenDiv" padding class="page-title">
        <span>{{'MOBILE.ESTABLISHMENT_LIST.MSG' | translate}}</span>
        <button id="close" class="close-btn" (click)="hiddenDiv()">
            <ion-icon name="close"></ion-icon>
        </button>
    </div>
    <div padding>
        <button *ngFor="let establishment of _establishments | async;" ion-button block clear color="cwhite" class="button-profile border"
            (click)="viewEstablishmentProfile(establishment)">
            <div class="profile-header">
                <ion-item no-lines>
                    <img item-start *ngIf="establishment.image" src="{{ establishment.image.url }}">
                    <img item-start *ngIf="!establishment.image" src="assets/img/default-restaurant.png">
                    <h2>{{establishment.name}}</h2>
                    <p>
                        <ion-icon color="danger" name="pin" item-start></ion-icon>
                        {{establishment.address}}, {{establishment.city}}
                    </p>
                </ion-item>
            </div>
        </button>
    </div>
</ion-content>