establishment-list{
    .page-title {
        display: block;
        background: #1676be;
        color: #fff;        
    }

    .close-btn {
        background: transparent;
        position: absolute;
        font-size: 16px;
        top: 7px;
        right: 0;
        color: white;
    }
}