//$primary-color: #EF5350 !important;
$primary-color: #1e222a !important;
$white_color-text: White;

.toolbar-background-md {
    background: $primary-color;
}

.toolbar-background-ios {
    background: $primary-color;
}

.toolbar-title-md {
    color: $white_color-text;
}

.toolbar-title-ios {
    color: $white_color-text;
}

.tabs-md .tabbar {
    background: #fff;
}

.tabs-ios .tabbar {
    background: #fff;
}

.button-effect {
    background-color: $primary-color;
}

.nav-logo{
    width: 14rem;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/*ion-slide {
    background-color: #fff;
}*/

page-home {
    .button-profile {
        height: 80px;
        padding: 0;
        margin: 0;
    }

    .button-action {
        height: 120px;
    }
    
    .profile-header {
        background-color: #0277BD;        
        width: 100%;
    }

    .profile-header ion-item{
        background-color: transparent;
    }

    .profile-header h2, .profile-header p {
        color: white;
    }

    .profile-header img {
        border-radius: 50%;
        border:3px solid rgba(0, 0, 0, 0.2);
        height: 60px;
        width: 60px;
    }

    
}