//$primary-color: #EF5350 !important;
$primary-color: #1e222a !important;
$white_color-text: White;

.toolbar-background-md {
    background: $primary-color;
}

.toolbar-background-ios {
    background: $primary-color;
}

.toolbar-title-md {
    color: $white_color-text;
}

.toolbar-title-ios {
    color: $white_color-text;
}

.tabs-md .tabbar {
    background: #fff;
}

.tabs-ios .tabbar {
    background: #fff;
}

.button-effect {
    background-color: $primary-color;
}

.nav-logo{
    width: 14rem;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/*ion-slide {
    background-color: #fff;
}*/
.ios {
    page-home {
        .button-profile {
            height: 76px;
        }
    }
}

page-home {
    

    .button-profile {
        height: 80px;
        padding: 0;
        margin: 0;
    }

    .button-action {
        height: 120px;
        border-radius: 4px;
        margin-bottom: 16px;
        -webkit-box-shadow: 0px 5px 0px 0px #c8c7cc;
        box-shadow: 0px 5px 0px 0px #c8c7cc;
    }
    
    .profile-header {
        background-color: #0277BD;        
        width: 100%;
    }

    .profile-header ion-item{
        background-color: transparent;
    }

    .profile-header h2, .profile-header p {
        color: white;
    }

    .profile-header img {
        border-radius: 50%;
        border:3px solid rgba(0, 0, 0, 0.2);
        height: 60px;
        width: 60px;
    }

    .object {
        animation: MoveUpDown 5s linear infinite;
        position: absolute;
        right: 0;
        bottom: 70px;
        opacity: 0;
    }
      
    @keyframes MoveUpDown {
        0%, 50% {
            bottom: 70px;
            opacity: 0;
        }
        25% {
            bottom: 20px;
            opacity: 1;
        }
    }

    .animated {
        -webkit-animation-duration: 5s;
        animation-duration: 5s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
    }
      
    .animated.infinite {
        -webkit-animation-iteration-count: infinite;
        animation-iteration-count: infinite;
    }

    @-webkit-keyframes tada {
        from, 30%, 50%, 100% {
            -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
        }
      
        2%,
        5% {
            -webkit-transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
            transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
        }
      
        7%,
        12%,
        16%,
        22% {
            -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
            transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
        }
      
        10%,
        15%,
        20% {
            -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
            transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
        }
      
        to {
            -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
        }
    }
    
    @keyframes tada {
        from {
            -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
        }
      
        10%,
        20% {
            -webkit-transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
            transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
        }
      
        30%,
        50%,
        70%,
        90% {
            -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
            transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
        }
      
        40%,
        60%,
        80% {
            -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
            transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
        }
      
        to {
            -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
        }
    }
      
    .tada {
        -webkit-animation-name: tada;
        animation-name: tada;
    }
}